/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  align-items: center;
  display: flex;
  margin: 2% 5%;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  gap: 1%;
  align-items: center;
}

.logo-image {
  width: 7%;
}
.logo-title {
  font-size: 30px;
  color: #333;
  font-weight: 800;
}
.nav-list {
  display: flex;
}
.nav-list li {
  list-style-type: none;
}
.list {
  margin-right: 50px;
}
.nav-list a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}
.nav-list a:hover {
  transition: 0.3s;
  color: #5fcc9c;
}
