/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  align-items: center;
  display: flex;
  margin: 1% 5%;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  gap: 1%;
  align-items: center;
}

.logo-image {
  width: 7%;
}
.logo-title {
  font-size: 30px;
  color: #333;
  font-weight: 800;
}
.nav-list {
  display: flex;
}
.nav-list li {
  list-style-type: none;
}
.list {
  margin-right: 50px;
}
.nav-list a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}
.nav-list a:hover {
  transition: 0.3s;
  color: #5fcc9c;
}
.nav-menu {
  display: none;
}
/* Home Section */

.home-question {
  margin-top: 8%;
  color: #5fcc9c;
  font-size: 20px;
  font-weight: 500;
  margin-left: 277px;
}
.home-title1 {
  margin: 1rem 0;
  font-size: 48px;
  font-weight: 600;
  color: #333;
  margin-left: 277px;
}
.home-image {
  display: block;
  margin: 3rem auto;
  width: 90%;
  border-radius: 8px;
}
.home-title2 {
  width: 50%;
  font-size: 48px;
  font-weight: 600;
  color: #333;
  margin-left: 277px;
}
.home-description {
  margin-top: 2rem;
  margin-left: 277px;
  width: 34%;
  text-align: justify;
  color: #4f4f4f;
  font-size: 18px;
  margin-bottom: 2rem;
}
.form-question {
  color: #828282;
  font-weight: 500;
  margin-left: 277px;
}
.home-form {
  margin-top: 5px;
  margin-left: 277px;
  margin-bottom: 10rem;
}
.home-form input {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 0 20px;
  width: 39%;
  height: 57px;
  outline: none;
  border: none;
}
.btn {
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #5fcc9c;
  height: 50px;
  width: 80px;
  position: relative;
  left: -88px;
  top: 2px;
}
.btn:hover {
  background-color: #2f664e;
}
/* Services Section */
.services {
  margin: 5rem 0;
}
.service-title {
  width: 30%;
  font-size: 36px;
  font-weight: 600;
  color: #333;
  margin-left: 165px;
}
.services-div {
  display: flex;
  gap: 15px;
  margin-left: 165px;
  width: 80vw;
  margin-top: 2rem;
}
.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #5fcc9c;
  height: 10vh;
  width: 5vw;
  margin-bottom: 2rem;
}
.service-list {
  padding: 50px 30px;
  border-radius: 8px;
}
.service-list:hover {
  box-shadow: 0px 10px 30px 0px #8fdbb9;
}
.service-header {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}
.service-description {
  color: #4f4f4f;
  font-size: 16px;
  width: 90%;
  text-align: justify;
  margin-bottom: 2rem;
}
.service-button {
  height: 3rem;
  width: 8rem;
  border: none;
  background-color: #5fcc9c;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 8px;
}
.service-button:hover {
  background-color: #2f664e;
}

/* Project Section  */
.projects {
  margin-bottom: 5rem;
}
.project-section-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 35%;
  font-size: 36px;
  font-weight: 600;
  color: #333;
  margin-left: 165px;
}
.all-projects {
  display: grid;
  margin: 0 165px;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.project-image {
  border-radius: 8px;
  height: 534px;
}
.botton-image {
  margin-top: 8rem;
}
.project-description {
  margin-top: 1rem;
  font-size: 14px;
  color: #828282;
}
.project-title {
  color: #333;
  font-size: 24px;
  font-weight: 500;
}
.see-more {
  cursor: pointer;
  text-align: right;
  margin-right: 120px;
  font-size: 20px;
  color: #5fcc9c;
  font-weight: 500;
}

/* Team Section */
.team {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 10rem 165px;
}
.team-image-div {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.people-team {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}
.people1 {
  position: relative;
  top: 50%;
}
.people3 {
  position: relative;
  left: 110%;
}
.red-text {
  font-size: 18px;
  color: #5fcc9c;
  font-weight: 500;
}
.team-title {
  margin: 1rem 0;
  color: #333;
  font-size: 36px;
  font-weight: 600;
  width: 70%;
}
.team-description {
  color: #4f4f4f;
  width: 60%;
  text-align: justify;
  font-size: 16px;
}

/* Comment */
.comment {
  margin-bottom: 10rem;
}
.comment-title {
  color: #333;
  font-size: 36px;
  width: 70%;
  font-weight: 600;
  margin-left: 165px;
  margin-bottom: 1rem;
}
.comment-people {
  margin-left: 165px;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.comment-image {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}
.comment-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
.comment-description {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
}

/* Footer Section */
footer {
  background-color: #09140f;
  padding-top: 5rem;
}
.footer-container {
  margin-left: 165px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.copyright {
  margin-top: 2rem;
  padding-bottom: 1rem;
  color: #f2f2f2;
  text-align: center;
  font-size: 12px;
}
.footer-div1 ul li {
  list-style: none;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}
.footer-div2 {
  color: white;
}
.social {
  margin-top: 0.5rem;
}
.social i {
  margin-right: 10px;
}
.footer-contact {
  color: #f2f2f2;
  font-size: 14px;
}
.footer-form input {
  margin-top: 1rem;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 0 20px;
  width: 70%;
  height: 57px;
  outline: none;
  border: none;
}
.footer-btn {
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #5fcc9c;
  height: 50px;
  width: 80px;
  position: relative;
  left: 233px;
  top: -53.5px;
}
/* ---------------------------------------- */
/* ----------Mobile Device---------- */
/* ---------------------------------------- */
@media screen and (max-width: 576px) {
  /* Navbar */
  .navbar {
    padding-top: 15px;
  }
  .nav-logo {
    gap: 2%;
  }
  .logo-image {
    width: 10%;
  }
  .logo-title {
    font-size: 24px;
  }
  .nav-list {
    display: none;
  }
  .nav-menu {
    display: inline;
    color: #5fcc9c;
  }
  /* Home Section */
  .home-question {
    margin-top: 100px;
    font-size: 16px;
    margin-left: 40px;
  }
  .home-title1 {
    margin-left: 40px;
    font-size: 26px;
  }
  .home-image {
    height: 25vh;
    margin: 1rem auto;
  }
  .home-title2 {
    font-size: 24px;
    margin-left: 40px;
    width: 80%;
  }
  .home-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    width: 58%;
    margin-left: 40px;
  }
  .form-question {
    margin-left: 40px;
  }
  .home-form {
    margin-left: 40px;
    margin-bottom: 0rem;
  }
  .home-form input {
    width: 270px;
  }
  .btn {
    left: 64.2%;
    top: -53.5px;
  }

  /* Services Section */
  .service-title {
    width: 60%;
    margin-left: 40px;
    font-size: 24px;
  }
  .services-div {
    margin-left: 40px;
    flex-direction: column;
    margin-top: 1rem;
  }
  .service-icon {
    height: 9vh;
    width: 18vw;
    margin-bottom: 1rem;
  }
  .service-header {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  .service-description {
    color: #4f4f4f;
    font-size: 16px;
    width: 100%;
    margin-bottom: 1rem;
  }

  /* Projects */
  .project-section-title {
    width: 70%;
    font-size: 26px;
    margin-left: 40px;
  }
  .all-projects {
    margin: 0 35px;
    grid-template-columns: 1fr;
  }
  .project-image {
    margin: 0;
    width: 324px;
    height: 305px;
  }
  .project-description {
    margin-top: 0.5rem;
  }
  .project-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .see-more {
    font-size: 16px;
    margin-left: 40px;
    text-align: left;
  }

  /* Team */
  .team {
    flex-direction: column;
    margin: 0px 40px;
    margin-bottom: 5rem;
  }
  .red-text {
    font-size: 16px;
  }
  .team-title {
    margin: 0.5rem 0;
    font-size: 26px;
    width: 80%;
  }
  .team-description {
    width: 75%;
  }
  .team-image-div {
    gap: 10px;
  }
  .people-team {
    width: 170px;
    height: 170px;
  }
  .people3 {
    top: -5%;
    left: 105%;
  }
  /* Comment */
  .comment-title {
    font-size: 26px;
    width: 85%;
    margin-left: 40px;
  }
  .comment-people {
    margin-left: 40px;
    gap: 1rem;
  }
  .comment-name {
    font-size: 20px;
  }
  .comment-description {
    font-size: 14px;
  }

  /* Copyright */
  .footer-container {
    margin-left: 40px;
    grid-template-columns: 1fr;
  }
  .footer-div2 {
    margin: 1.5rem 0rem;
  }
  .footer-div1 ul li {
    font-size: 14px;
  }
  .footer-form input {
    width: 75%;
  }
  .footer-btn {
    left: 62.5%;
    top: -53.5px;
  }
}
